# Project exclude paths
/local.spu111.com/vendor/brick/math/
/local.spu111.com/vendor/carbonphp/carbon-doctrine-types/
/local.spu111.com/vendor/composer/
/local.spu111.com/vendor/darkaonline/l5-swagger/
/local.spu111.com/vendor/dflydev/dot-access-data/
/local.spu111.com/vendor/doctrine/annotations/
/local.spu111.com/vendor/doctrine/inflector/
/local.spu111.com/vendor/doctrine/lexer/
/local.spu111.com/vendor/dragonmantank/cron-expression/
/local.spu111.com/vendor/egulias/email-validator/
/local.spu111.com/vendor/fruitcake/php-cors/
/local.spu111.com/vendor/graham-campbell/result-type/
/local.spu111.com/vendor/guzzlehttp/uri-template/
/local.spu111.com/vendor/laravel/framework/
/local.spu111.com/vendor/laravel/prompts/
/local.spu111.com/vendor/laravel/serializable-closure/
/local.spu111.com/vendor/league/commonmark/
/local.spu111.com/vendor/league/config/
/local.spu111.com/vendor/league/flysystem/
/local.spu111.com/vendor/league/flysystem-local/
/local.spu111.com/vendor/league/mime-type-detection/
/local.spu111.com/vendor/monolog/monolog/
/local.spu111.com/vendor/nesbot/carbon/
/local.spu111.com/vendor/nette/schema/
/local.spu111.com/vendor/nette/utils/
/local.spu111.com/vendor/nunomaduro/termwind/
/local.spu111.com/vendor/phpoption/phpoption/
/local.spu111.com/vendor/psr/cache/
/local.spu111.com/vendor/psr/clock/
/local.spu111.com/vendor/psr/container/
/local.spu111.com/vendor/psr/event-dispatcher/
/local.spu111.com/vendor/psr/log/
/local.spu111.com/vendor/psr/simple-cache/
/local.spu111.com/vendor/ramsey/collection/
/local.spu111.com/vendor/ramsey/uuid/
/local.spu111.com/vendor/swagger-api/swagger-ui/
/local.spu111.com/vendor/symfony/console/
/local.spu111.com/vendor/symfony/css-selector/
/local.spu111.com/vendor/symfony/deprecation-contracts/
/local.spu111.com/vendor/symfony/error-handler/
/local.spu111.com/vendor/symfony/event-dispatcher/
/local.spu111.com/vendor/symfony/event-dispatcher-contracts/
/local.spu111.com/vendor/symfony/finder/
/local.spu111.com/vendor/symfony/http-foundation/
/local.spu111.com/vendor/symfony/http-kernel/
/local.spu111.com/vendor/symfony/mailer/
/local.spu111.com/vendor/symfony/mime/
/local.spu111.com/vendor/symfony/polyfill-ctype/
/local.spu111.com/vendor/symfony/polyfill-intl-grapheme/
/local.spu111.com/vendor/symfony/polyfill-intl-idn/
/local.spu111.com/vendor/symfony/polyfill-intl-normalizer/
/local.spu111.com/vendor/symfony/polyfill-mbstring/
/local.spu111.com/vendor/symfony/polyfill-php72/
/local.spu111.com/vendor/symfony/polyfill-php80/
/local.spu111.com/vendor/symfony/polyfill-php83/
/local.spu111.com/vendor/symfony/polyfill-uuid/
/local.spu111.com/vendor/symfony/process/
/local.spu111.com/vendor/symfony/routing/
/local.spu111.com/vendor/symfony/service-contracts/
/local.spu111.com/vendor/symfony/string/
/local.spu111.com/vendor/symfony/translation/
/local.spu111.com/vendor/symfony/translation-contracts/
/local.spu111.com/vendor/symfony/uid/
/local.spu111.com/vendor/symfony/var-dumper/
/local.spu111.com/vendor/symfony/yaml/
/local.spu111.com/vendor/tijsverkoyen/css-to-inline-styles/
/local.spu111.com/vendor/vlucas/phpdotenv/
/local.spu111.com/vendor/voku/portable-ascii/
/local.spu111.com/vendor/webmozart/assert/
/local.spu111.com/vendor/zircote/swagger-php/